
<div class="blog_body">
	<table id="header_table">
		<tr>
			<td><h1 class="blog_header_content">Joining Yahoo!</h1></td>
		</tr>
		<tr>
			<td><h1 class="blog_sub_header_content">2014 Summer Internship</h1></td>
		</tr>
		<tr>
			<td><h1 class="blog_header_date_content" style="color: rgba(0, 0, 0, 0.7);">December 19, 2013</h1></td>
		</tr>
	</table>
<div class="blog_body_content">
	<%= image_tag("yahoo_mail.png", height: 700, :class => "image") %>

	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat nisi et felis viverra, vitae placerat tortor facilisis. Phasellus feugiat diam felis, non laoreet tellus egestas iaculis. Quisque adipiscing sem lectus, in interdum arcu viverra eget. Integer posuere, diam sed blandit placerat, felis lacus dignissim nunc, sit amet commodo magna lacus et nulla. Vivamus rhoncus vitae mi eget molestie. Integer semper lacinia euismod. Aenean elementum libero vel velit mollis bibendum. Suspendisse sit amet turpis tincidunt urna tristique faucibus. Curabitur eget cursus elit.

	Nullam nec commodo nulla. Curabitur et feugiat quam. Ut vulputate erat nec risus tincidunt, sit amet consectetur diam gravida. Suspendisse cursus vehicula ultrices. Suspendisse semper rhoncus aliquam. Nam fermentum sapien eu sem porta venenatis. In eleifend vehicula magna, in venenatis elit. Aliquam blandit arcu ut egestas feugiat.

	Suspendisse vestibulum, lectus vel ultricies gravida, diam tellus volutpat lectus, eget vehicula turpis quam at elit. Morbi consequat mattis felis, a faucibus nunc placerat nec. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer porttitor purus vel accumsan adipiscing. Curabitur sodales sapien vitae odio pellentesque, vitae varius risus ullamcorper. Nulla auctor sem ipsum, eu viverra metus sagittis ac. Etiam convallis orci vel nisl auctor aliquet. Nunc quis odio sit amet eros vehicula adipiscing non non lacus. Fusce nisi sapien, accumsan quis ullamcorper non, ornare nec orci. Aliquam pharetra, lectus a ullamcorper posuere, arcu arcu aliquet lorem, rhoncus mattis tortor metus eu odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris malesuada libero a aliquet scelerisque. Suspendisse luctus mauris sem, nec accumsan lorem iaculis luctus. Etiam massa metus, gravida non quam eu, fermentum tincidunt neque. Duis porta dui id orci accumsan, non iaculis ligula viverra.

	Proin elementum at est id lobortis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque eu ultricies nisl. Suspendisse accumsan odio a mauris pretium sollicitudin. Maecenas lorem mauris, vulputate vel iaculis quis, lobortis quis massa. Donec magna nulla, tempus sit amet interdum sit amet, rhoncus eu mi. Nunc a iaculis est, nec interdum augue. Proin volutpat lacinia ipsum ac dignissim. Nulla facilisi. Pellentesque vel tortor ac tellus porta suscipit. Duis sed felis leo. In hac habitasse platea dictumst.

	Nulla euismod vehicula facilisis. In hac habitasse platea dictumst. Praesent luctus iaculis augue. Aenean nulla mi, volutpat sit amet nulla posuere, gravida vulputate elit. Sed nec bibendum ligula, sit amet ullamcorper lacus. Phasellus mi nisl, accumsan adipiscing tortor vel, suscipit dapibus enim. Cras eu nisi eget elit mattis pharetra sit amet ut quam. Nam id porttitor massa, at lacinia sem. Sed a placerat arcu, at ultrices turpis. Integer vitae lectus suscipit, laoreet erat eget, lacinia leo. Mauris id metus consectetur, volutpat lacus at, malesuada velit.</p>

	</div>
</div>
<hr id="end_post_line">
<h3 id="blog_footer_twitter_follow"><center>Follow me on twitter <a href="http://www.twitter.com/jonjyan">@jonjyan</a></center></h3>
<br>
<br>
<hr class="horiztonal_divider">
<div class="blog_footer">
	<%= link_to :controller => "static", :action => "blog", :id => "minimalist-photography-project"  do%>
	<h4 id="blog_footer_header">Read This Next:</h4>
	<table id="header_table">
		<tr>
			<td><h1 class="blog_header_content">Joining Yahoo!</h1></td>
		</tr>
		<tr>
			<td><h1 class="blog_sub_header_content">2014 Summer Internship</h1></td>
		</tr>
		<tr>
			<td><h1 class="blog_header_date_content" style="color: rgba(0, 0, 0, 0.7);">December 19, 2013</h1></td>
		</tr>
	</table>

	<div class="blog_body_content">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat nisi et felis viverra, vitae placerat tortor facilisis. Phasellus feugiat diam felis, non laoreet tellus egestas iaculis. Quisque adipiscing sem lectus, in interdum arcu viverra eget. Integer... <span class="underline">Continue...</span></p>
	</div>
	<% end %>
</div>
<hr class="horiztonal_divider">

	<center>
		<% if @newer then %>
			<%= link_to(root_path) do %>
				<div id="blog_footer_arrow", style="float:left; padding-left:4%;"><%= image_tag("left_arrow.png", height: 8, :class => "arrow_image") %> Newer</div>
			<% end %>
		<% end %>
		