<br><br><br>
<center>
<a href="#one", class="link">One</a>
<a href="#two", class="link">Two</a>
<a href="#three", class="link">Three</a>
<a href="#four", class="link">Four</a>

<p id="one">Number One</p>  
<p id="two">Number Two</p>  
<p id="three">Number Three</p>  
<p id="four">Number Four</p>
</center>