<br><br>
<center><h1 class="page_title">contact</h1></center>
<div id="contact_container">
	<%= image_tag("face_shot_square.png", :id => "contact_image") %>
	<div class="contact_info">
		<h5 class="tester">email: jonjyan@stanford.edu</h5>
		<h5 class="tester">twitter/facebook/instagram: @jonjyan</h5>
	</div>
			<div style="clear: both;"></div>

</div>
