<div id="footer">
    <div id="footer_block">
        <div id="social_icons">
            <%= link_to image_tag("facebook.png", height: 29), "https://www.facebook.com/jonjyan" %>
            &nbsp;
            <%= link_to image_tag("twitter.png", height: 29), "https://twitter.com/jonjyan" %>
            &nbsp;
            <%= link_to image_tag("linked.png", height: 32), "http://www.linkedin.com/pub/jonathan-yan/34/208/a74" %> 
        </div>
        <h5 id="footer_text">Copyright &copy; <%= Time.now.year %> Jonathan Yan</h5>

        
    </div> 
</div>
